.formParent{
  background: #FEEBC8;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @media (max-width: 600px){
      flex-direction: column;
      justify-content: flex-start;
  }
}
  
Form, .userList{
    width: 40%;
    padding: 10px 10px;

    @media (max-width: 600px){
        width: 90%;
    }
}

Form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fieldWithError{
    height: 60px;
}

h2{
    margin: 15px 0px;
}

.textInput{
    width: 100%;
}

input{
    font-size: 1rem;
}

.error{
    position: relative;
    top: -18px;
    color:red;
}

.warning{
  color:orangered;

}

button{
    margin-top: 15px;
    width:8rem;
    padding: 5px 5px;
    background: #B2F5EA;
    font-size: 1.0rem;
}

li{
    margin: 10px 0;
}

ul{
    border: 1px solid grey;
    min-height: 100px;
}

.userInfo{
    color: grey;
}

.roleSelect, label{
    margin-bottom: 20px;
}